$min-heigth-page: 100vh;
$min-heigth-user-layout-sp: calc(100vh - 52px);
$min-heigth-user-layout-pc: calc(100vh - 60px);
$color-primary: #f16a22;
$min-heigth-input: 38px;
$min-heigth-btn: 38px;
$boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
