.login-container{
  width: 100%;
  position: relative;
  height: 100%;
  & :global(.background-image){
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/Login.jpg");
    background-size: cover;
    background-position: right;
    min-height: 100vh;
  }
  & :global(.background-overlay) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
  }
  & :global(.content) {
    top: 80px;
    position: relative;
    & :global(.login-content-container) {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      width: 50rem;
      border-radius: 2.4rem;
      margin: 0px auto;
      height: 30rem;
      background-color: white;
      padding: 5rem 4rem;
      @media (max-width: 1024px) {
        width: 90%;
        padding: 2rem;
        height: auto;
      }
      @media (max-width: 992px) {
        width: 90%;
        height: auto;
        padding: 2rem;
      }
      @media (max-width: 820px) {
        display: flex;
        width: 80%;
        height: auto;
        padding: 2rem;
      }
      @media (max-width: 768px) {
        display: flex;
        width: 80%;
        height: auto;
        padding: 2rem;
      }
      @media (max-width: 430px) {
        display: block;
        width: 80%;
        padding: 2rem;
        height: auto;
      }
      @media (max-width: 414px) {
        display: block;
        width: 80%;
        padding: 2rem;
        height: auto;
      }
      @media (max-width: 375px) {
        display: block;
        width: 80%;
        padding: 2rem;
        height: auto;
      }
    }
    
  }
  @media (max-width: 820px) {
    padding: 20.1rem 0;
    height: auto;
  }
  @media (max-width: 768px) {
    padding: 15.23rem 0;
    height: auto;
  }
  @media (max-width: 430px) {
    width: 100%;
    height: auto;
    padding: 11.45rem 0;
  }
  @media (max-width: 414px) {
    width: 100%;
    height: auto;
    padding: 10.45rem 0;
  }

  @media (max-width: 390px) {
    width: 100%;
    height: auto;
    padding: 8.8rem 0;
  }
  @media (max-width: 375px) {
    width: 100%;
    height: auto;
    padding: 2.55rem 0;
  }

}   