.admin-layout-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @media (max-width: 992px) {
    height: 100vh;
    margin-top: 52px;
  }

  & :global(.menu-content){
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
  }
  & :global(.body-layout){
    width: 100%;
    overflow: auto;
  }
}