.login-form-container{
    flex: 1;
    & :global(.logo-img){
        margin: 0 auto;
        margin-top: -30px;
    }
    & :global(.btn-login){
        background-color: #57e1e4;
        width: 100%;
        font-size: larger;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
    & :global(.btn-login:hover) {
        background-color: #45c4c7;
        transform: scale(1.02); 
    }

}